
.dash {
  -webkit-transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -ms-transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 5s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

.rdash {
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  -ms-transition: all 5s linear;
  -o-transition: all 5s linear;
  transition: all 5s linear;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: spin;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease;
  -ms-animation-name: spin;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease;
}

.rspin {
  -webkit-animation-name: rspin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: rspin;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease;
  -ms-animation-name: rspin;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: ease;
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(3600deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(3600deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(3600deg);}
}


@-moz-keyframes rspin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-3600deg); }
}
@-webkit-keyframes rspin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-3600deg); }
}
@keyframes rspin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-3600deg);}
}
