body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: url('/static/img/0002.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body::after, .container {
    display: inline-block;
    vertical-align: middle;
}

body::after {
    content: '';
    height: 100%;
}

.outer-border {
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 30px;
}

.inner-border {
  border: 10px solid rgba(255, 255, 255, 0.8);
  padding: 30px;
}

.wrap-inner {
  background: rgba(255, 255, 255, 0.5);
}

.form {
  width: 46vw;
  background: white;
}

.wrap-inner__input {
  width: 91%;
  text-align: center;
  font-size: 3rem;
  outline: none;
  border: none;
  background: transparent;
}
/*
img {
  width: 70%;
  padding: 10% 0;
}
*/

.result__img {
  width: 80vw;
  padding: 0;
}
/*
.wrap-index__header, .wrap-index__footer {
  width: 100%;
}

.plane {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 20px;
  top: 20px;
  padding: 0;
}
*/
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #2a849a;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #2a849a;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #2a849a;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #2a849a;
}
