body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: url('/static/img/0002.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  overflow: hidden;
}

body::after, .container {
    display: inline-block;
    vertical-align: middle;
}

body::after {
    content: '';
    height: 100%;
}

.container {
  width: 90%;
}

.index__content {
  text-align: right;
  padding: 0 10%;
}

.index__cover {
  width: 100%;
}

.index__footer {
  margin-top: 7%;
  margin-right: 2%;
  width: 70%;
}

.container__shake {
  font-size: 4rem;
}


.index__input {
  width: 60%;
  text-align: center;
  font-size: 3rem;
  outline: none;
  height: 100%;
  margin-right: 5%;
  background: transparent;
  border: none;
}

.form {
  margin-top: -14%;
}

.result-img {
  width: 100%;
}

/*input::-webkit-input-placeholder { !* WebKit browsers *!*/
  /*color: #d4d3d3;*/
/*}*/
/*input:-moz-placeholder { !* Mozilla Firefox 4 to 18 *!*/
  /*color: #d4d3d3;*/
/*}*/
/*input::-moz-placeholder { !* Mozilla Firefox 19+ *!*/
  /*color: #d4d3d3;*/
/*}*/
/*input:-ms-input-placeholder { !* Internet Explorer 10+ *!*/
  /*color: #d4d3d3;*/
/*}*/
