body {
  background: url("/static/img/bg.png") no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-blend-mode: screen;
}

.draw__header, .draw__header img {
  width: 100%;
}

.draw__wheel--wrap {
  width: 100%;
  padding: 0 8%;
}

.draw__wheel {
  width: 100%;
  background: url("/static/img/draw/wheel2.png") no-repeat center center;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 40000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.draw__wheel img {
  width: 100%;
  -webkit-animation-name: rspin;
  -webkit-animation-duration: 40000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rspin;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rspin;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}


@-moz-keyframes rspin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes rspin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes rspin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.draw__input, .draw__submit {
  font-size: 3em;
  width: 60%;
  /*-webkit-border-radius:;*/
  /*-moz-border-radius:;*/
  border-radius: 50px;
  padding: 0 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 30px 0;
  appearance: none;
  height: 120px;
  text-align: center;
}

.draw__input {
  border: 1px solid #f27978;
}

.draw__submit {
  font-size: 3.6em;
  color: white;
  background: #ee7776;
  border: none;
  -webkit-box-shadow: 0 10px #e15456;
  -moz-box-shadow: 0 10px #e15456;
  box-shadow: 0 10px #e15456;
}
