.fullContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-image: url('/static/img/sports/bg.jpg');
  background-size: 100% 100%;
}

.halfContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
}

.upperContainer {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-top: 20%;
  height: 100%;
  width: 100%;
}

.contentContainer {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 25%;
  width: 100%;
  margin-bottom: 20%;
}

.first_text_container {
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 55%;
}

.second_text_container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 50%;
}

.first_text {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
}

.second_text {
  width: 100%;
}

.inputContainer {
  margin: 1% 0;
  width: 55%;
  height: 45%;
  background-color: rgba(177,193,194,0.6);
  border-radius: 1em;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.input_padding {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  font-size: 2.5em;
  color: white;
  position:relative;
  animation-duration:1.5s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
}

.input {
  outline: medium;
  border: none;
  width: 98%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  font-size: 3em;
}

.input_left {
  animation-name:left_animation;
}

@keyframes left_animation
{
	0%   {left:0;}
	50%  {left:1em;}
	100% {left:0;}
}

.input_right {
  animation-name:right_animation;
}

@keyframes right_animation
{
	0%   {left:0;}
	50%  {left:-1em;}
	100% {left:0;}
}
