<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>华宇16周年庆</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/base.css") }}">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
    </style>
    {% block header %} {% endblock %}
</head>
<body>
<div class="container">
    {% block content %} {% endblock %}
</div>
</body>
</html>
