{% extends "base.html" %}

{% block header %}
    <style>
        body {
            background: #fee8e9;
        }
    </style>
{% endblock %}

{% block content %}
    <img class="index__header" src="/static/img/firstHeader.png" alt="">
    <div class="index__content">
        <img class="index__cover" src="/static/img/firstCover2.png" alt="">
        <form class="form" action="/" method="post">
            <input
                id="input"
                name="name"
                class="index__input"
                type="text"
                maxlength="10"
            >
        </form>
        <img class="index__footer" src="/static/img/firstFooter.png" alt="">
    </div>
{% endblock %}
