{% extends "base.html" %}

{% block header %}
    <style>
        body {
            background: #ffe8ea;
        }
        .container {
            background: url("/static/img/shake.png") no-repeat center center;
            -webkit-background-size: auto 100%;
            background-size: auto 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container__shake">
    </div>
    <script>
        var num = 0
        window.addEventListener('devicemotion', function (event) {
            var ax = event.acceleration.x | 0
            var ay = event.acceleration.y | 0
            var az = event.acceleration.z | 0
            console.log('(' + ax + ', ' + ay + ', ' + az + ')')
            acc = Math.sqrt(ax * ax + ay * ay + az * az)
            if (acc > 4) {
                num ++
                if (num > 10) {
                    window.location = '/result?result={{ result }}&bg={{ bg }}'
                }
            }
        })
    </script>
{% endblock %}
