{% extends "base.html" %}

{% block content %}
    <div class="container__shake">
        摇一摇抽取你的清华签
    </div>
    <script>
        var num = 0
        window.addEventListener('devicemotion', function (event) {
            var ax = event.acceleration.x | 0
            var ay = event.acceleration.y | 0
            var az = event.acceleration.z | 0
            console.log('(' + ax + ', ' + ay + ', ' + az + ')')
            acc = Math.sqrt(ax * ax + ay * ay + az * az)
            if (acc > 1) {
                num ++
                if (num > 5) {
                    window.location = '/result?result={{ result }}&bg={{ bg }}'
                }
            }
        })
    </script>
{% endblock %}
