<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>清研体育</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/sports.css") }}">
</head>

<body>
<div class="fullContainer">
  <div class="halfContainer"></div>
  <div class="halfContainer">
    <div class="upperContainer">
      <div class="contentContainer">
        <div class="inputContainer"> 
          <span class="input_padding input_left">》</span>
            <input class="input" placeholder="输入姓名"/>
          <span class="input_padding input_right">《</span>
        </div>
        <div class="first_span_container" >
            <img src="/static/img/sports/images/first_text.png" class="first_span"/>
        </div>
      </div>
      <div class="second_span_container">
        <img class="second_span" src="/static/img/sports/images/second_text.png"/>
      </div>
    </div>
  </div>
</div>
</body>

</html>
